@charset "utf-8";

/* 版心区域 */
.home,.content{
    width: 1210px;
    margin: 0 auto;
}
/* nav */
.item-nav{
    height: 40px!important; 
}
.item-list{
    display: none;
}
.item-nav:hover .item-list{
    display: block!important;
}

/* home */
.home{
   width: 1173px;
    height: 30px;
    line-height: 32px;
    border-top: 0px;
    padding-left: 35px;
    background: -130px -210px #fafafa;
    font-size: 12px;
    color: #666666;
    top: 40px;
    left: 0px;
    font-family: '宋体';
    z-index: 0; 
    background-image: url(../img/listicon.png);
    background-repeat: no-repeat;
}
.home>a{
    padding: 0px 5px;
    color: #666666;
}
.home>code{
    font-size: 12px;
    color: #666666;
    line-height: 32px;
}
/* content */
.content{
    margin-top: 10px;
    background: #FFFFFF;
}
/* con-l */
.con-l{
    width: 210px;
    float: left;
}
.l-list01{
    border: #dddddd solid;
    border-width: 2px 1px 0px 1px;
    border-top: 2px solid #999999;
    min-height: 100px;
    background: #f7f7f7;
}
.list-item{
    width: 208px;
    background: #FFF;
}
.list-item>h2{
    height: 40px;
    line-height: 40px !important;
    background-color: #F7F7F7;
    padding: 0 7px 0 10px;
    border-bottom: 1px solid #dadada;
    cursor: pointer;
    font: normal 14px/36px \5fae\8f6f\96c5\9ed1;
    font-family: 'Microsoft yahei';
    color: #555555;
}
.list-item>h2>b{
    float: left;
    width: 16px;
    height: 16px;
    margin: 12px 8px 0 0;
    background-position: -95px -70px;
    overflow: hidden;
    cursor: pointer;
    background-image: url(../img/listicon.png);
    background-repeat: no-repeat;
}
.item-show>div{
    width: 208px;
    background: #FFF;
    border-bottom: 1px solid #dadada;
    border-top: 1px solid #dadada;
    margin-top: -1px;
    font-family: '宋体';
}
.item-show>div>h3{
    height: 35px;
    line-height: 35px;
    background-color: #f7f7f7;
    padding: 0 7px 0 26px;
    cursor: pointer;
    font: normal 14px/25px \5fae\8f6f\96c5\9ed1;
}
.item-show>div>h3>b{
    float: left;
    width: 14px;
    height: 14px;
    margin: 11px 8px 0 0;
    background-position: -79px -70px;
    overflow: hidden;
    cursor: pointer;
    background-image: url(../img/listicon.png);
    background-repeat: no-repeat;
}
.item-show>div>h3>a{
    color: #377bee;
    font-size: 14px;
    line-height: 35px;
}
.item-show>ul{
    background: #FFF;
    padding: 5px 5px 5px 47px;
    border-bottom: 1px solid #dddddd;
    min-height: 10px;
}
.item-show>ul>li{
    width: 75px;
    height: 26px;
    line-height: 26px;
    float: left;
    color: #555555;
}
.l-list02{
    background: #f7f7f7;
    border: 1px solid #eaeaea;
    padding: 5px;
    margin-top: 10px;
    min-height: 100px;
}
.list-con{
    margin: 8px 18px;
    width: 63px;
    height: 30px;
    line-height: 15px;
    font-size: 12px;
    margin-left: 12px;
    float: left;
    background-image: url(../img/listicon.png);
    background-repeat: no-repeat;
}
.list-con>a{
    color: #555555;
}
.list-con:nth-child(1){
    background-position: -141px -86px;
    padding-left: 32px;
}
.list-con:nth-child(2){
    background-position: -137px -117px;
    padding-left: 34px;
}
.list-con:nth-child(3){
    background-position: -139px -149px;
    padding-left: 30px;
}
.list-con:nth-child(4){
    background-position: -140px -177px;
    padding-left: 32px;
}
.l-list03{
    background: #f7f7f7;
    border: 1px solid #eaeaea;
    padding: 5px;
    margin-top: 10px;
}
.list03-title{
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-weight: bold;
    color: #555555;
    padding-left: 5px;
}
.list03ul{
    padding-left: 3px
}
.list03ul>ul>li{
    width: 95px;
    height: 25px;
    line-height: 25px;
    margin-left: 1px;
    float: left;
    margin-bottom: 1px;
    color: #666666;
    background: #f1f1f1;
    text-align: center;
    padding: 0px !important;
}
.list03ul>ul>li:first-child{
    background: #7ebcff;
    color: #FFFFFF;
    cursor: pointer;
}
.list03img>div{
    background: #FFFFFF;
    padding: 5px 5px 0px 5px;
}
.list03img-img{
    width: 185px;
    height: 80px;
    overflow: hidden;
    text-align: center;
    border: 0px;
}
.list03img-img>img{
    width: 185px;
}
.list03img-addr{
    min-height: 55px;
    overflow: hidden;
    line-height: 18px;
    font-size: 12px;
    text-align: left;
}
.list03img-addr>span{
    color: #ff5c4d !important;
}
.list03img-addr>em{
    font-style: normal;
}
.l-list04{
    border: 1px solid #eeeeee;
    margin-top: 10px;
}
.l-list04>div:first-child{
    height: 35px;
    line-height: 35px;
    background: #f7f7f7;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
}
.l-list04-hot{
    overflow: hidden;
}
.l-list04-hot>ul{
    display: block;
    margin-top: -1px;
    background: #FFFFFF;
}
.l-list04-hot>ul>li{
    display: block;
    border-top: 1px dotted #cbcbcb;
    min-height: 90px;
}
.hot-li-l{
    width: 88px;
    height: 88px;
    float: left;
    text-align: center;
}
.hot-li-l>a>img{
    width: 70px;
    height: 70px;
    padding-top: 9px;
}
.hot-li-r{
    width: 105px;
    height: 65px;
    margin-top: 13px;
    padding-right: 10px;
    float: right;
    overflow: hidden;
    line-height: 15px;
}
.r-name{
    height: 30px;
    color: #555555;
}
.r-name>a{
    color: #555555;
}
.r-price{
    text-align: left;
}
.r-price>em{
    font-family: Verdana, Arial, '宋体';
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    color: #ff5c4d !important;
}
.l-list05>div:first-child{
    height: 39px;
    line-height: 39px;
    padding: 0px 10px;
    border-bottom: 1px solid #e5e5e5;
    font-weight: bold;
    color: #000;
    font-size: 14px;
}
.list05-con{
    padding: 0px 20px 20px 20px;
}
.list05-con>ul>li{
    padding: 10px;
}
.list05-clear{
    height: 18px;
    line-height: 18px;
    border-top: 1px dotted #cbcbcb;
    padding: 5px 0px;
    text-align: right;
    margin: 15px auto -20px auto;
}
.list05-clear>a{
    color: #6575da;
    cursor: pointer;
    display: inline-block;
    float: right; 
}

/* con-r */
.con-r{
    width: 990px;
    float: right;
}
/* r-top */
.r-top{
    border: #dddddd solid;
    border-width: 1px 1px 1px 1px;
    background: #FFF;
    overflow: hidden;
}
.rtop-01{
    background: #fafafa;
    border-bottom: 1px solid #dddddd;
    padding: 15px 0px 15px 10px;
}
.rtop-01>dl{
    display: block;
}
.rtop-01>dl>dd:first-child{
    width: 65px;
    height: 25px;
    text-align: right;
    margin-right: 5px;
    color: #333333;
    display: block;
    float: left;
    line-height: 25px;
}
.dd-ul{
    display: block;
    float: left;
    line-height: 25px;
    width: 900px;
}
.dd-ul>ul>li{
    float: left;
    display: block;
    white-space: nowrap;
}
.dd-ul>ul>li>a{
    color: #4e9cee;
    padding: 2px 4px;
}
.gap{
    width: 1px;
    height: 12px;
    padding: 0;
    margin: 7px 9px 0;
    overflow: hidden;
    background-color: #999999;
}
.rtop-02{
    height: 40px;
    line-height: 40px;
    color: #555555;
    padding-left: 20px;
}
.rtop-02>strong{
    color: #ff5c4d !important;
}
.rtop-03{
    padding: 8px 0px 8px 10px;
    border-top: 1px dotted #d6d5d4;
    margin-top: -1px;
}
.rtop-03>dl>dd{
    display: block;
    float: left;
    line-height: 25px;
}
.rtop-03>dl>dd:first-child{
    width: 65px;
    height: 25px;
    text-align: right;
    margin-right: 5px;
    color: #333333;
}
.dd-dl{
    width: 900px;
}
.dd-dl>dl>dd{
    min-width: 140px;
    height: 25px;
    line-height: 25px;
    text-align: left;
    float: left;
    display: block;
    color: #555555;
    overflow: hidden;
}
.dd-dl>dl>dd>a{
    color: #4e9cee;
    padding: 2px 4px;
}
.dd-dl>dl>dd>em{
    color: #999999;
}
.dl-show{
    background: #4889f6;
    color: #FFF!important;
}
/* r-nav */
.r-nav{
    height: 40px;
    line-height: 40px;
    background: #f4f4f4;
    margin-top: 10px;
}
.nav-l{
    width: 350px;
    height: 40px;
    float: left;
}
.nav-l>ul>li{
    width: 85px;
    margin-right: 10px;
    line-height: 40px;
    float: left;
    text-align: center;
    cursor: pointer;
}
.nav-l>ul>li:nth-of-type(1){
    margin: 0;
}
.nav-l>ul>li:nth-of-type(2)>a{
    padding-right: 13px;
    background: url(https://imgcdn.baiji.com.cn/bj_img/pxbr.gif) right 3px no-repeat;
   
}
.nav-l>ul>li:nth-of-type(3)>a{
    padding-right: 13px;
    background: url(https://imgcdn.baiji.com.cn/bj_img/pxar.gif) right 2px no-repeat;
  
}
.cur02{
    color:#ff5c4d!important;
}
.nav-r{
    height: 40px;
    line-height: 40px;
    float: right;
}
.nav-ra{
    width: 100px;
    height: 40px;
    line-height: 40px;
    float: left;
    text-align: right;
    font-size: 12px;
}
.nav-rb{
    width: 60px;
    height: 40px;
    line-height: 40px;
    float: left;
    text-align: center;
}
.nav-rb>strong{
    color: #ff5c4d !important;
}
.nav-rc{
    height: 40px;
    float: left;
    margin-left: 5px;
}
.nav-rc>a{
    width: 55px;
    text-align: right;
    height: 25px;
    line-height: 25px;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 8px;
    background: #FFF;
}
.nav-rc>a>s{
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    display: inline-block;
    border-width: 5px;
    border-style: dashed solid;
    border-color: transparent;
    border-left-color: #CCC;
    border-right-style: dashed;
    margin-left: 0px;
}
.nav-rd{
    float: left;
    text-align: left;
    margin-left: 10px;
    padding-right: 10px;
}
.nav-rd>input{
    width: 35px;
    height: 21px;
    border: 1px solid #d3d3d3;
    margin: 0px 5px 0px 5px;
    padding: 0px;
    text-align: center;
    font-size: 12px;
    outline: none;
    display: inline;
    vertical-align: middle;
}
.nav-rd>a{
    width: 40px;
    height: 23px;
    line-height: 23px;
    color: #FFF;
    background: #4496ee;
    padding: 4px 8px;
    border: 0px;
    margin-left: 4px;
}
/* r-con */
.r-con>ul>li{
    display: block;
    float: left;
    margin: 10px 8px;
    height: 338px;
    position: relative;
    width: 230px;
    padding: 10px;
    z-index: 100;
}

.con-item-bg{
    width: 246px;
    height: 346px;
    border: 4px solid #fafafa;
    z-index: -20;
    position: absolute;
    left: -8px;
    top: -8px;
    display: none;
}
.r-con>ul>li:hover .con-item-bg{
    display: block;
}
.r-con>ul>li>a{
    display: none;
    width:90px;
    height:19px;
    line-height:20px;
    position:absolute;
    left:10px;
    top:10px;
    color:#999999;
    z-index:4;
    padding:3px;
    border-radius:2px; 
}
.r-con>ul>li>a>em{
    width:19px;
    height:19px;
    display:block;
    margin-right:4px; 
    float:left;
    background: url(../img/icon.png) no-repeat -303px -54px;
}
.r-con>ul>li:hover a{
    display: block;
}
/* li */
.con-item-pic{
    width: 210px;
    height: 210px;
    text-align: center;
    margin: 0 auto;
}
.con-item-pic>a>img{
    width: 180px;
    height: 180px;
    margin-top: 15px;
    padding-left: 20px;
}
.con-item-name{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    overflow: hidden;
    display: block;
}
.con-item-pric{
    height: 22px;
    display: block;
}
.con-item-pric>strong{
    height: 22px;
    line-height: 22px;
    font-family: Microsoft yahei;
    font-size: 16px;
    font-weight: 400;
    color: #ff5c4d;
}
.con-item-car{
    height: 26px;
    margin-top: 6px;
    position: relative;
}
.con-item-car>span{
    right: 0px;
    top: -30px;
    padding: 2px 3px;
    color: #ff5c4d;
    line-height: 14px;
    position: absolute;
}
.con-item-num{
    width: 120px;
    float: left;
}
.con-item-num>div:first-child{
    float: left;
}
.con-item-num>div:first-child>input{
    float: left;
    width: 28px;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 1px;
    height: 28px;
    color: #555;
    line-height: 28px;
    text-align: center;
    outline: none;
}
.con-item-num>div:first-child>span{
    float: left;
    margin-left: 1px;
    width: 16px;
    height: 28px;
}
.con-item-num>div:first-child>span>a{
    width: 16px;
    height: 14px;
    overflow: hidden;
    line-height: 14px;
    text-indent: -99em;
    cursor: pointer;
    display: block;
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
}
.con-item-num>div:first-child>span>a:first-child{
    background-position: -249px -48px;
}
.con-item-num>div:first-child>span>a:last-child{
    background-position: -249px -62px;
}
.con-item-num>div:last-child{
    float: right;
}
.con-item-num>div:last-child>a{
    width: 72px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #ddd;
    text-align: center;
    float: left;
    margin-left: 1px;
    color: #999999;
}
.r-con>ul>li:hover .con-item-car>.con-item-num>div:last-child>a{
    color: #f97e87;
    border: 1px solid #f97e87;
}
.con-item-go{
    float: right;
    cursor: pointer;
}
.con-item-go>a{
    width: 85px;
    height: 28px;
    line-height: 28px;
    display: block;
    border-radius: 2px;
    background: #ff5c4d;
    text-align: center;
    float: right;
    color: #FFF;
}
/* r-bottom */
.r-bottom{
    height: 40px;
    line-height: 40px;
    background: #f4f4f4;
    margin-top: 10px;
}
.rbottom-page{
    height: 40px;
    float: right;
}
.page-a{
    width: 100px;
    height: 40px;
    line-height: 40px;
    float: left;
    text-align: right;
    font-size: 12px;
    cursor: pointer;
}
.page-b{
    width: 60px;
    height: 40px;
    line-height: 40px;
    float: left;
    text-align: center;
}
.page-b>strong{
    color: #ff5c4d !important;
}
.page-c{
    height: 40px;
    float: left;
    margin-left: 5px;
}
.page-c>ul{
    float: left;
}
.page-c>ul>li{
    float: left;
    height: 25px;
    line-height: 25px;
    width: 25px;
    text-align: center;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 8px;
    background: #FFF;
    cursor: pointer;
}
.page-c>a{
    height: 25px;
    line-height: 25px;
    width: 60px;
    text-align: center;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 8px;
    background: #FFF;
    cursor: pointer;
}

.cur{
    background: #7ebcff!important;
    color: #FFFFFF;
}
.page-d{
    float: left;
    text-align: left;
    margin-left: 10px;
    padding-right: 10px;
}
.page-d>a{
    cursor: pointer;
    width: 40px;
    height: 23px;
    line-height: 23px;
    color: #FFF;
    background: #4496ee;
    padding: 4px 8px;
    border: 0px;
    margin-left: 4px;
}
.page-d>input{
    width: 35px;
    height: 21px;
    border: 1px solid #d3d3d3;
    margin: 0px 5px 0px 5px;
    padding: 0px;
    text-align: center;
    display: inline-block;
}